<div class="col-lg-12 pull-left" id="box">
  <%= form_for(@band, :remote => true) do |f| %>
  <% if @band.errors.any? %>
  <div id="error_explanation">
    <h2>campos requeridos!</h2> 
  </div>
  <% end %>
  <div class="col-lg-12 pull-right">  
    <div class="field">
      <button id="btncerrar" class="btn btn-warning pull-right" type="button" >x</button>
    </div><br>
  </div>
  <div class="field small">
    <span class="text-danger small pull-left">(*)</span> Quiero ir al concierto de: <br>
    <%= f.text_field :name, class:'form-control' %>
  </div>
  <div class="field small">
   <span class="text-danger small">(*)</span>Cuan Fan eres de 1 a 7<br>      
   <%= f.number_field :fanlevel, class:'form-control' %>
 </div>
 <div class="field small">
   <span class="text-danger small">(*)</span> Breve Comentario <br>
   <%= f.text_field :description, class:'form-control' %>
 </div>
 <div class="field small">
   <span class="text-danger small">(*)</span>Foto Banda (externa) <br>
   <%= f.text_field :image, class:'form-control' %>
 </div>
 <div class="actions">
  <%= f.submit 'agregar', :class => 'btn btn-success pull-right ' %>
  <span class="text-danger small">(*) campos requeridos</span>
</div>
<% end %>
</div>